.navbar {
padding: 16px 32px;

background-color: #ffffff;
color: #0055b8;

font-family: Arial, Arial, Helvetica, sans-serif;

box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.navbar-esquerda {
  display: flex;

  align-items: center;

  gap: 30px;
}

.navbar-logo{
  color: #0055b8;

  font-size: 16px;
  font-weight: 600;

  letter-spacing: -0.2px;

  text-decoration: none;

  white-space: nowrap;
}

.navbar-list {
display: flex;

align-items: center;

gap: 28px;

margin: 0;
padding: 0;

list-style: none;

}

.navbar a {
color: #0055b8;

font-size: 15px;
font-weight: 600;

letter-spacing: -0.2px;

text-decoration: none;
}

.navbar-acoes {
display: flex;

align-items: center;

gap: 24px;
}

.navbar a:hover {
color: #003b7a;

text-decoration: underline;
}